/**
 * @file evento.css
 * Eventos científicos
 */

.node--event {
  background: var(--color-white);
  border-left: 4px solid var(--color-barro);
  padding: var(--space-6);
  border-radius: var(--radius-md);
}

.node--event__date {
  font-family: var(--font-mono);
  font-weight: var(--font-weight-bold);
  color: var(--color-barro);
}

.node--event__location {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  margin: var(--space-3) 0;
}
